<div class="content" #content>
    <h3>Pedido {{ pedido?.instante }}</h3> 
    <span class="text-center">#{{ pedido?.idPedido }}#</span><br>
    <span><strong>Cliente</strong> {{ pedido?.cliente.nome }}</span><br>
    <span><strong>Telefone</strong> {{ pedido?.cliente.telefone }}</span><br>
    <div *ngFor="let end of pedido?.cliente.enderecos">
        <span><strong>Endereço</strong> {{ end?.logradouro }} , {{ end?.numero}}, {{ end?.bairro }}, {{end?.complemento }}</span>
    </div>
    <div>
        <h4>Produtos</h4>
        <div *ngFor="let item of pedido?.itens">
            <span><strong>{{ item.quantidade }}x Item: {{ item.produto.nome }} Valor: {{ item.preco  | currency: 'BRL': 'symbol'}}</strong></span>
        </div>
    </div>
    
    <div>
        <h2>Total: {{ pedido?.totalPedido | currency: 'BRL': 'symbol' }}</h2>
    </div>
    <h4><strong>Forma de Pagamento:</strong>  {{ pedido?.formaPagamento.formaPagamento }}</h4>
    <div class="footer">
        <h2>MARMITESKE</h2>
    </div>
</div>
<button class="btn btn-primary" (click)="imprimir()" >Imprimir</button>
<button class="btadd btn btn-primary" [routerLink]="['/order-confirmation']">Voltar</button>
