<div class="" [@menuItemAppeared]="menuItemState">
    <span class="menu-item-info-box-icon">
      <img src="assets/img/marmita.jpg" width="50px" height="50px"> </span>

    <div class="menu-item-info-box-content">
      <span class="menu-item-info-box-text">{{menuItem.nome}} </span>
      <span class="menu-item-info-box-price"> {{menuItem.preco | currency: 'BRL': 'symbol'}} </span>
      <button (click)="emitAddEvent()" class="btn btn-primary"><i ></i> Adicionar</button>
    </div>
    <!-- /.info-box-content -->
  </div>