<section class="content">

    <div class="container">
        <div class="col-xs-12">
          <div class="box box-solid">
            <div class="box-header with-border">
              <i class="fa fa-home"></i>

              <h3 class="box-title">{{restaurant?.razaoSocial}}</h3><span class="pull-right"><i class="fa fa-star"></i> 5.0</span>
            </div>
              
            </div>
            
          </div>
        </div>
        

        <div class="">
          <h3 class="text-center">
             Menu
          </h3>
        </div>


  <div class="container">
      <router-outlet></router-outlet>
  </div>
  
  <button [routerLink]="['/restaurants']" class="btn btn-primary">Menu Inicial</button>

  </section>