<div class="class-body">
<h2>Lista de Produtos</h2>
<div *ngIf="!produtos?.length">
    <p class="text-center">
      Nenhum produto.
    </p>
</div>
<div class="table-responsive" *ngIf="produtos?.length">
    <table class="table table-striped">
        <thead>
            <th>Nome</th>
            <th>Preço</th>
            <th>Categoria</th>
            <th>Ações</th>
        </thead>
        <tbody>
            <tr *ngFor="let produto of produtos">
                <td>{{ produto.nome }}</td>
                <td>{{ produto.preco}}</td>
                <td>{{ produto.categoria.nome}}</td>
                <td>
                    <a routerLink="{{ '/produto/editar/' + produto.id }}">
                        <i class="fa fa-edit"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
    
</div>
<div class="jumbotron jumbotron-fluid">
    <button class="btn btn-primary" [routerLink]="['/cadastro-produto']">
        Cadastrar Produto
    </button>
    <button class="btn btn-primary" [routerLink]="['/restaurants']">
        Voltar
    </button>

</div>