<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Info</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div *ngFor="let end of enderecos">
      <p>{{ end.logradouro }}</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Save</button>
    </div>
  </ng-template>
  
<h2 class="text-center">Lista de Clientes</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Telefone</th>
            <th>Opções</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cliente of clientes">
            <td>{{ cliente?.nome }}</td>
            <td>{{ cliente?.telefone }}</td>
            <td><button class="btn btn-primary" (click)="open(content)">VER</button></td>
        </tr>
    </tbody>
</table>

<button [routerLink]="['/cadastro-pf']" class="btn btn-primary">Cadastrar Novo Cliente</button>