<h2>Escolha o seu lanche</h2>
<table class="table table-striped">
    <thead>
    <tr>
      <th>Id</th>
      <th>Nome</th>
      <th>Preço</th>
      <th>Adicionar</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let pedido of pedidos">
      <td>{{pedido.id}}</td>
      <td>{{pedido.nome}}</td>
      <td>{{pedido.preco | currency: 'BRL' : 'symbol'}}</td>
      <a >
        <td class="text-center"><i class="fa fa-plus"></i></td> 
      </a>
      
    </tr>

    </tbody>
  </table>
<button (click)="geraPdf()">Gera pdf</button>